th, td {
    text-align: center;
}
td span {
    cursor: pointer;
}
td span:hover {
    color: #FC6D6D;
}
.mark {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 160px;
    height: 72px;
    line-height: 72px;
    background: white;
    margin-top: -36px;
    margin-left: -80px;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    text-align: center;
}
.loading span {
    display: block;
}
